################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BBC1TestProject/bin/Debug/netcoreapp3.1
/.vs
/BBC1TestProject/obj/Debug/netcoreapp3.1
